{% extends 'layout.html' %}

{% block content %}
    <a href="{{ url_for('add_pet') }}" class="btn btn-primary mt-3">Add Pet</a>
    <h2 class="mt-4">Pets List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Species</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pet in pets %}
            <tr>
                <td>{{ pet.name }}</td>
                <td>{{ pet.species }}</td>
                <td>
                    <a href="{{ url_for('delete_pet', pet_id=pet.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
